/*@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@:100;
200;300;400;500;600;700;800;900&display=swap');*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 60px;
    color: black;
}
h2{
    font-size: 50px;
    line-height: 60px;
    color: black;
}
h4{
    font-size: 50px;
    color: black;
}
h6{
    font-size: 20px;
    font-weight: 400;
}
p{
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 20px 30px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease
}
button .white{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease
}
body{
    width: 100%;
}
/*header start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: gray  ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: green;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: green;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*Home page*/
#hero{
    background-image: url("images/hero.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: lightseagreen;
}
#hero button{
    background-color: lightcoral;
    color: wheat;
    border: 0;
    padding: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0);
    border: 1px solid lightgoldenrodyellow;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box img{ 
width: 100%;
margin-bottom: 10px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 40px rgba(76, 62, 221, 0.1);
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    background-color: burlywood;
    display: inline-block;
}
#feature .fe-box:nth-child(2) h6{
    background-color: bisque;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid lightblue;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 15px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: gray;
    font-size: 12px
}
#product1 .pro h5{
    padding-top: 5px;
    color: #1a1a1a;
    font-size: 15px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: yellow;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 50px;
    border-radius: 70px;
    background-color: wheat;
    font-weight: 500;
    color: #088178;
    border: 1px solid white;
    position: absolute;
    bottom: 20px;
    right: 10px;
    list-style: none;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/lap7.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: white;
    font-size: 16px;
}
#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636;
    
}
#banner button:hover{
    background: lightgreen;
    color: white;
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/food1.jpg");
    min-width: 600px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: white;
    font-size: 30px;
    font-weight: 800;
}
#sm-banner span{
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}
#sm-banner .banner-box:hover button{
    background: lightgreen;
    border: 1px solid lightgreen;
    cursor: pointer;
}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#sm-banner .banner-box2{
    background-image: url("images/food2.jpg");
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/lap2.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 15px;
    margin-bottom: 20px;
}
#banner3 h2{
    color: white;
    font-size: 20px;
    font-weight: 900;
}
#banner3 h3{
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}
#banner3 .banner-box2{
    background-image: url("images/lap3.jpg");
}
#banner3 .banner-box3{
    background-image: url("images/lap4.jpg");
}
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("images/heroo.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 15px;
    font-weight: 600;
    color: gray;
}
#newsletter p span{
    color: orange;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3rem;
    padding: 0 1rem;
    font-size: 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
}
footer .logo{
    margin-bottom: 60px;
}
footer h4{
    font-size: 15px;
    padding-bottom: 20px;
}
footer p{
    font-size: 12px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 15px;
text-decoration: none;
color: #222;
margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow a{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow:hover a{
color: blue;
transition: 0.2s ease;
}
footer .install .row a{
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px 0 15px 0;
}
footer .follow a:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
footer p{
    padding-bottom: 10px;
}